<!----
<div class="columns">
    <div class="column">
       
    </div>
    <div class="column">
        Dylan Skagan
    </div>
    <div class="column">
        
    </div>
    <div class="column">
        Isaiah Celluar
    </div>
    <div class="column">
        
    </div>
    <div class="column">
        Tom Waterman
    </div>
    <div class="column">
        
    </div>
    <div class="column">
        Justin Pham
    </div>
    <div class="column">
        
    </div>
    <div class="column">
        Kyle McClernon
    </div>
    <div class="column">
        
   </div>
</div>
-->
<div style="padding-top: 15px; padding-bottom: 20px;" class="is-medium is-bold container has-text-centered">
    <p>
        <strong>Dylan Skagan - Isaiah Celluar - Tom Waterman - Justin Pham - Kyle McClernon</strong>
    </p>
</div>