<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="black" src="assets/img/blackGraphic.png" alt="" style="width:600px;height:600px;">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Shirt 1</span>
        <h1>This is a shirt</h1>
        <p>Here is some description about this shirt!</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
  
   
        <!-- Cable Configuration -->
        <div class="cable-config">
  
        </div>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>Price: 48$</span><br>
      </div>
      
      <h2>Choose Size</h2>
      <div class="control">
        <label class="radio">
          <input type="radio" id="small" name="rsvp">
          Small
        </label><br>
        <label class="radio">
          <input type="radio" id="medium" name="rsvp">
          Medium
        </label><br>
        <label class="radio">
          <input type="radio" id="large" name="rsvp">
          Large
        </label><br>
        <label class="radio">
          <input type="radio" id="extra-large" name="rsvp">
          Extra Large
        </label><br>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
        <br><button class="button is-primary">Add to cart</button>
        </div>
      </div>
  
    </div>
  </main>