<title>Account: {{this.sessionService.getItem('customer').username}}</title>

<header>
  <section class="hero is-info is-bold">
    <div class="hero-body">
      <h1 class="center-header">Welcome back, {{this.sessionService.getItem('customer').username}}</h1>
    </div>
  </section>
</header>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form (ngSubmit)="onSubmit(userAccount)" #userAccount="ngForm">

          <div class="field">
            <label class="label">Username</label>
            <input type="text" [(ngModel)]="customer.username" id="username" name="username" class="input"
              placeholder="Enter a username" value="this.customer.username" required>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <input type="password" id="password" name="password" class="input"
              placeholder="Enter your password" required>
          </div>

          <div class="field">
            <label class="label">First Name</label>
            <input type="text" [(ngModel)]="customer.firstName" id="firstName" name="firstName" class="input"
              placeholder="Enter your first name" value="this.customer.firstName" required>
          </div>

          <div class="field">
            <label class="label">Last Name</label>
            <input type="text" [(ngModel)]="customer.lastName" id="lastName" name="lastName" class="input"
              placeholder="Enter your last name" value="this.customer.lastName" required>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <input type="email" [(ngModel)]="customer.email" class="input" id="email" name="email"
              placeholder="Enter your email address" value="this.customer.email" #emailInput ="ngModel" required email>
            <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
              Your email needs to be a valid email.
            </div>
          </div>
          <button type="submit" class="button is-link is-bold">Confirm Changes?
          </button>

        </form>
      </div>
    </div>
  </div>
</section>