<div class="background">

  <div class="row" *ngIf="shirt">
    <!-- This will be our image on the left column -->
    <div class="column">
      <div class="image-frame">

        <img data-image="black" align="right" src="{{shirt.imageSource}}" alt="">

      </div>
    </div>

    <!-- This will be our form to get sizing and display info on product on the right column -->
    <div class="column">
      <form>
        <p class="title">{{ shirt.brand }}</p>
        <b>
          <p>{{ shirt.description }}</p>
        </b>

        <hr class="line">

        <b>
          <p>{{ shirt.color }}</p>
        </b>
        <b>
          <p>Price: ${{ shirt.price }}</p>
        </b>
        <b>
          <p>Size: {{ shirt.size }}</p>
        </b><br>

        <button (click)="addToCart(shirt)" class="button is-medium is-link" value="Submit">Add To Cart</button>
      </form>
    </div>
  </div>

  <button class="button is-medium is-link" (click)="showReviewForm = true" *ngIf="customerService.isLoggedIn">New
    Review</button>

  <div *ngIf="showReviewForm">
    <form (ngSubmit)="submitReview()">
      <textarea [(ngModel)]="newReviewText" name="newReviewText"></textarea>
      <label>Rating:</label>
      <select [(ngModel)]="newReviewRating" name="newReviewRating">
        <option value="1">1 star</option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>

  <app-product-review></app-product-review>

</div>