
<header>
  <h1 class="center-header">Sign Up Below!</h1>
</header>

<div class="signup-form">
    <div style="display: inline-block; text-align: left;">
      <form (ngSubmit)="passwordMatchValidator(customerSignupForm); onSubmit(customerSignupForm)" #customerSignupForm="ngForm" novalidate>
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" [(ngModel)]="customer.username" 
            class="form-control" 
            id="username" 
            name="username" 
            placeholder="Enter username..."
            required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="customer.password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter password"
            required>
        </div>
        <div class="form-group">
          <label for="rePassword">Repeat Password</label>
          <input type="password" [(ngModel)]="customer.rePassword" 
            class="form-control" 
            id="rePassword" 
            name="rePassword" 
            placeholder="Confirm password"
            required #rePassword="ngModel" [ngModelOptions]="{updateOn: 'blur'}" appPasswordMatchValidator>
        </div>
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" [(ngModel)]="customer.firstName" 
            class="form-control" 
            id="first-name" 
            name="first-name" 
            placeholder="Enter your first name"
            required>
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" [(ngModel)]="customer.lastName" 
              class="form-control" 
              id="last-name" 
              name="last-name" 
              placeholder="Enter your last name"
              required>
          </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" [(ngModel)]="customer.email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your email address"
            required>
        </div>
        <button type="submit" [disabled]="customerSignupForm.invalid"
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>