
<!---
<header>
  <h1 class="center-header">Sign Up Below!</h1>
</header>

<div class="signup-form">
    <div style="display: inline-block; text-align: left;">
      <form (ngSubmit)="passwordMatchValidator(customerSignupForm); onSubmit(customerSignupForm)" #customerSignupForm="ngForm" novalidate>
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" [(ngModel)]="customer.username" 
            class="form-control" 
            id="username" 
            name="username" 
            placeholder="Enter username..."
            required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="customer.password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter password"
            required>
        </div>
        <div class="form-group">
          <label for="rePassword">Repeat Password</label>
          <input type="password" [(ngModel)]="customer.rePassword" 
            class="form-control" 
            id="rePassword" 
            name="rePassword" 
            placeholder="Confirm password"
            required #rePassword="ngModel" [ngModelOptions]="{updateOn: 'blur'}" appPasswordMatchValidator>
        </div>
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" [(ngModel)]="customer.firstName" 
            class="form-control" 
            id="first-name" 
            name="first-name" 
            placeholder="Enter your first name"
            required>
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" [(ngModel)]="customer.lastName" 
              class="form-control" 
              id="last-name" 
              name="last-name" 
              placeholder="Enter your last name"
              required>
          </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" [(ngModel)]="customer.email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your email address"
            required>
        </div>
        <button type="submit" [disabled]="customerSignupForm.invalid"
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
-->

<!-- Updated form layout-->

<title>Sign-Up</title>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Sign Up!
      </p>
    </div>
  </div>
</section>

<!-- Contact Form -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
    <form (ngSubmit)=" onSubmit(customerSignupForm)" #customerSignupForm="ngForm" novalidate>
      
      <!-- If username is already in DB -->
      <div class="error-message" *ngIf="usernameExists">
        Username already exists.
      </div>
      <div class="error-message" *ngIf="invalidPassword">
        Passwords do not match.
      </div>
      <!-- Username Field-->
      <div class="field">
        <label class="label">Username</label>
        <input type="text" 
               [(ngModel)]="customer.username"
               id="username" 
               name="username" 
               class="input"
               placeholder="Enter a username"
               required>
      </div>

      <!-- Password -->
      <div class="field">
        <label class="label">Password</label>
        <input type="password" [(ngModel)]="customer.password" 
          id="password"
          name="password"
          class="input"
          placeholder="Enter your password"
          required>
      </div>

      <!-- Repeat Password -->
      <div class="field">
        <label class="label">Re-enter Password</label>
        <input type="password" [(ngModel)]="customer.rePassword" 
          id="rePassword"
          name="rePassword"
          class="input"
          placeholder="Confirm password"
          required #rePassword="ngModel" [ngModelOptions]="{updateOn: 'blur'}" appPasswordMatchValidator>
      </div>

      <!-- First Name -->
      <div class="field">
        <label class="label">First Name</label>
        <input type="text" [(ngModel)]="customer.firstName" 
          id="first-name"
          name="first-name"
          class="input"
          placeholder="Enter your first name"
          required>
      </div>

      <!-- Last Name -->
      <div class="field">
        <label class="label">Last Name</label>
        <input type="text" [(ngModel)]="customer.lastName" 
          id="last-name"
          name="last-name"
          class="input"
          placeholder="Enter your last name"
          required>
      </div>


      <!-- Email -->
      <div class="field">
        <label class="label">Email</label>
        <input type="email" [(ngModel)]="customer.email" 
          class="input"
          id="email"
          name="email"
          placeholder="Enter your email address"
          #emailInput="ngModel"
          required
          email>
      </div> 
      <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
        Your email needs to be a valid email.
      </div>

      <!----
      <div class="form-group">
        <label for="name">Email</label>
        <input type="email" [(ngModel)]="customer.email" 
          class="input" 
          id="email" 
          name="email" 
          placeholder="Enter your email address"
          #emailInput="ngModel"
          required 
          email>
          <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
            Your email needs to be a valid email.
          </div>
      </div> -->

      <!-- Submit Button -->
      <button type="submit" [disabled]="customerSignupForm.invalid"
      class="button is-large is-warning">Submit</button>

    </form>
      </div>
      <div class="column">
        <!-- <div class="pic-box">
        <p>
          <img style="height: 30%; width: 61%; object-fit: contain" src="/assets/img/Pants2.png">
        </p>
        </div> -->
        <p>
          <img src="/assets/img/Pants2.png"> <!-- Change this image to something nice -->
        </p>
      </div>
    </div>
  </div>
</section>