<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <!-- placeholder shirts -->
      <div class="grid-container">
        <div *ngFor="let shoe of shoes;">
          <a [routerLink]="['view-product', shoe.productId]">
            <!-- FIX ME: Change it so the proper shirt renders with the image -->
            <img src="assets/img/shoes1.png">
            <p> {{ shoe.brand }}</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>