<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <!-- placeholder shirts -->
      <div class="grid-container">
        <div *ngFor="let shirt of shirts;">
          <a [routerLink]="['view-shirt', shirt.productId]">
            <img src="{{shirt.imageSource}}" class="shirts">
            <p class="shirtText"> {{ shirt.brand }}</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<title>Shirts</title>