<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class = "container has-text-centered">

<!-- placeholder shirts -->
<div *ngFor="let shirt of shirts">
  <button [routerLink]="['view-product', shirt.productId]">">{{ shirt.brand }}</button>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <a routerLink="/view-product">
        <img src="assets/img/shirt1.png" alt="">
        <div class="center">
          <p>Shirt 1</p>

        </div>
        </a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/shirt2.png" alt="" id="shirt1">
        <div class="center">
          <p>Shirt 2</p>
          
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/shirt3.png" alt="">
        <div class="center">
          <p>Shirt 3</p>
          
        </div>
      </article>
    </div>
  </div>
  
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/shirt4.png" alt="">
        <div class="center">
          <p>Shirt 4</p>
          
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/shirt5.png" alt="">
        <div class="center">
          <p>Shirt 5</p>
          
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
         <img src="assets/img/shirt6.png" alt="">
         <div class="center">
           <p>Shirt 6</p>
          
         </div>
      </article>
    </div>
  </div>

    </div>
  </div>
</section>