.center {
  display: flex;
  justify-content: center;
}

.hero {
  background-image: url('/assets/img/background3.png') !important;
  background-size: cover;
  background-position: center center;
}

a {
  display: inline-block;
  border: 1px solid #979797;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

a:hover {
  background-color: #b49e9e;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.shirts {
  width: 300px;
  height: 200px;
  transition: transform 0.5s ease;
}

.shirts:hover {
  transform: scale(1.05);
}

.shirtText {
  color: rgb(252, 231, 71);
}