<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <a routerLink="/view-product">
        <img src="assets/img/blackGraphic.png" alt="">
        <p class="subtitle ">Shirt 1</p>
        </a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/blueButtonUp.png" alt="">
        <p class="subtitle">Shirt 2</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/grayShirt.png" alt="">
        <p class="subtitle">Shirt 3</p>
      </article>
    </div>
  </div>
  
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/redButtonUp.png" alt="">
        <p class="subtitle">Shirt 4</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/shirtWithLightBulb.png" alt="">
        <p class="subtitle">Shirt 5</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
         <img src="assets/img/whiteShirt.png" alt="">
        <p class="subtitle">Shirt 6</p>
      </article>
    </div>
  </div>