.center {
    display: flex;
    justify-content: center;
  }

  .hero {
    background-image: url('/assets/img/background4.png') !important; 
    background-size: cover;
    background-position: center center;
  }