<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <!-- placeholder shirts -->
      <div class="grid-container">
        <div *ngFor="let pant of pants;">
          <a [routerLink]="['view-product', pant.productId]">
            <!-- FIX ME: Change it so the proper shirt renders with the image -->
            <img src="assets/img/pants1.png">
            <p> {{ pant.brand }}</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>