<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/Pants1.png" alt="">
        <p class="subtitle ">Pants</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/Pants2.png" alt="">
        <p class="subtitle">Pants 2</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/Pants3.png" alt="">
        <p class="subtitle">Pants 3</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/Pants4.png" alt="">
        <p class="subtitle">Pants 4</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/Pants5.png" alt="">
        <p class="subtitle">Pants 5</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="assets/img/Pants6.png" alt="">
        <p class="subtitle">Pants 6</p>
      </article>
    </div>
  </div>