<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class = "container has-text-centered">

<!-- placeholder buttons -->
<div *ngFor="let pants of pants">
  <button [routerLink]="['view-pants', pants.productId]">">{{ pants.brand }}</button>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="center">
          <img src="assets/img/pants1.png" alt="">
        </div>
        <div class="center">
          <p>Pants</p>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="center">
          <img src="assets/img/pants2.png" alt="">
        </div>
        <div class="center">
          <p>Pants 2</p>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="center">
          <img src="assets/img/pants3.png" alt="">
        </div>
        <div class="center">
          <p>Pants 3</p>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="center">
          <img src="assets/img/pants4.png" alt="">
        </div>
        <div class="center">
          <p>Pants 4</p>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="center">
          <img src="assets/img/pants5.png" alt="">
        </div>
        <div class="center">
          <p>Pants 5</p>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="center">
          <img src="assets/img/pants6.png" alt="">
        </div>
        <div class="center">
          <p>Pants 6</p>
        </div>
      </article>
    </div>
  </div>

</div>
</div>
</section>