<div class="navBar">
    <a class="active" href="index.html">Home</a>
    <a href="/all">Products (not working)</a>
    <a href="/customer/all">/customer/all</a>
    <div class="topNav-right">
      <a href="customer/login">Login</a>
      <a href="customer/createCustomer">Sign Up</a>
      <a href="#">About Us</a>
    </div>
  </div>
  
<head>
    <title>Account Created</title>
  </head>
  <body>
    <div class="container">
      <h1 class="headline">Account Created</h1>
      <p class="congrats">Congratulations! Your account has been successfully created.</p>
      <a href="customer/login" class="button">Login</a>
    </div>
  </body>