.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  opacity: 0.95;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #333;
}

h2 {
  text-align: center;
  color: #333;
}

p {
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.hero {
  background-image: url("https://c1.wallpaperflare.com/preview/451/651/674/man-male-asian-market.jpg") !important;
  background-size: cover;
  background-position: center center;
}

