<!-- background image (shirts hanging on rack) -->
<section class="hero is-dark is-bold is-medium">
  <div class="hero-body">
    <div class = "container has-text-centered">
      <p class="title">
      </p>
   </div>
  </div>
</section>

<!-- project description -->
<section class="section">
  <div class="container is-dark has-text-centered box">
    <p class="title is-1">
      ICS 499 - Capstone Project
    </p>
    <p class="subtitle">
      An e-commerce web application. 
    </p>
  </div>
</section>

<!-- browse popular products -->
<section class="section">
  <div class="container">
    <p style = "padding-bottom: 15px;"class="subtitle">
      Browse popular products:
    </p>
  </div>


  <div class="tile is-ancestor">

    <!-- product 1 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img style="background-size: cover;" src="/assets/img/Pants6.png">
      </article>
    </div>

    <!-- product 2 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="/assets/img/grayShirt.png">
      </article>
    </div>
    <!-- product 3 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="/assets/img/Pants5.png">
      </article>
    </div>

    <!-- product 4 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-128x128">
        <img src="/assets/img/Pants4.png">
      </figure>
      </article>
    </div>

    <!-- product 5 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image is-128x128">
          <img src="/assets/img/shirtWithLightBulb.png">
        </figure>
      </article>
    </div>

  </div>
</section>

<!-- hot and new -->
<section class="section">
  <div class="container">
    <p style = "padding-bottom: 15px;"class="subtitle">
      Check out what's hot and new!
    </p>
  </div>

  
  <div class="tile is-ancestor">

    <!-- product 1 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img style="background-size: cover;" src="/assets/img/Pants6.png">
      </article>
    </div>

    <!-- product 2 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="/assets/img/grayShirt.png">
      </article>
    </div>
    <!-- product 3 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="/assets/img/Pants5.png">
      </article>
    </div>

    <!-- product 4 -->
    <div class="tile is-parent">
      <article class="tile is-child box">
        <img src="/assets/img/Pants4.png">
      </article>
    </div>

    <!-- product 5 -->
    <div class="tile is-parent is-hoverable">
      <article class="tile is-child box">
       <!-- <img src="/assets/img/shirtWithLightBulb.png"> -->
       <app-product-item></app-product-item>
      </article>
    </div>
  </div>
</section>



<!---
<section>
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="title">
          Front End:
        </div>
        <p>
          A responsive web page buit with Angular, a TypeScript framework implementing Bulma, a 
          popular CSS library. 
        </p>
      </div>
      <div class="column"></div>
      <div class="column">
        <div class="title">
          Back End:
          </div>
          <p>
            Built with Java using SpringBoot as the main powershouse interaction with a PostgreSQL server. 
          </p>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>
-->