.hero {
  background-image: url('/assets/img/background.png') !important; 
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

.title {
  font-size: large;
  outline-color: black;
  
}