
 <section class="hero is-dark is-bold is-medium">
  <div class="hero-body">
    <div style="border: 20px; border-color: rgb(23, 23, 24); background-color: black; opacity: 100%;width: fit-content;" class = "container has-text-centered box">
      <p class="title">
        ICS 499 Capstone Project
      </p>
   </div>
  </div>
</section>


<section style="background-color: darkslategray;">
<div class="container">
  <div class="row">
     <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
          <img src="{{item.imageSource}}" alt="">
          <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{ item.title }}</h5>
          <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{ item.description }}</p>
          <p><strong>Price: </strong>${{item.price}}</p>
          
          <div class="columns">
            <div class="column">
            <button class="btn btn-primary" (click)="seeDetails(item)">See Details</button>
          </div>
          <div class="column">
            <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
          </div>
          </div>
      </div>
     </ng-container>
  </div>
</div>
</section>
